{% load menu_tags %}
<header id="header" class="site-header">
  <a class="header-mark-mobile" href="https://www.nd.edu/" title="University of Notre Dame">
    <svg width="512" height="86" aria-hidden="true"><use xlink:href="#mobile-mark"></use></svg>
    <span class="visually-hidden">University of Notre Dame</span>
  </a>
  <div class="header-group header-group--inline-xl">
    <div class="header-title">
      <svg class="header-mark" width="250" height="60" aria-hidden="true"><use xlink:href="#academic-mark"></use></svg>
      <div class="header-title-name">
        <h1 id="site-title" class="site-title">
          <a href="/" accesskey="1" title="Homepage shortcut key = 1">{{ site_name }}</a>
        </h1>
        {% if site_tagline %}
        <p class="site-tagline">{{ site_tagline }}</p>
        {% endif %}
      </div>
    </div>
    <div class="header-nav">
      {% include "includes/nav_primary.html" %}
      <div class="header-util">
        <div class="header-nav-toggle">
          <button class="btn btn--action global-menu-toggle" aria-label="Open global menu and search" aria-controls="global-menu" aria-haspopup="dialog">
            <svg class="icon-search-menu" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search-menu"></use></svg>
            <svg class="icon-search" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/header_nav_fixed.html" with include_primary_nav=True %}
</header>
