{% extends "base_ndt.html" %}
{% load cms_tags %}

{% block body_class %} home{% endblock %}

{% block page_header %}
<div class="page-header page-header--inset animate">
  <figure class="page-image">
    {% placeholder "Page Image" %}
  </figure>
  <div class="page-title-wrapper">
    <h1 class="page-title">{% placeholder "Page Title" %}</h1>
    <p class="page-lede">{% placeholder "Page Lede" %}</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="page-primary full-width">
  <div class="section home-primary col--md">
    {% placeholder "Page Intro" %}
    {% placeholder "Page Content" %}
  </div>
</div>
{% placeholder "Page Secondary" %}
{% endblock %}
