{% extends "base_ndt.html" %}
{% load cms_tags %}

{% block body_class %} home{% endblock %}

{% block page_header %}
<div class="page-header page-header--container bg--brand-blue animate">
  <figure class="page-image bg--gradient bg--left-to-right bg--brand-blue">
    {% placeholder "Page Image" %}
  </figure>
  <div class="page-title-wrapper">
    <h1 class="page-title">{% placeholder "Page Title" %}</h1>
    <p class="page-lede">{% placeholder "Page Lede" %}</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="page-primary full-width">
  {% placeholder "Page Intro" %}
  {% placeholder "Page Content" %}
</div>
{% placeholder "Page Secondary" %}
{% endblock %}
