<div class="card-container">
  <div class="{{ instance.card_class }}">
    {% if instance.image %}
    <figure class="card-image"><img src="{{ instance.image.url }}" alt="{{ instance.alt_text|default:instance.title }}"></figure>
    {% endif %}
    <div class="card-body">
      <h2 class="card-title"><a class="card-link" href="{{ instance.get_href }}"{% include "components/_link_attrs.html" %}>{{ instance.title }}</a></h2>
      {% if instance.summary %}<div class="card-summary">{{ instance.summary|safe }}</div>{% endif %}
    </div>
  </div>
</div>
