<div class="card-container">
  <div class="{{ instance.card_class }}">
    {% if instance.image %}
    <figure class="avatar avatar--lg card-image"><img alt="{{ instance.alt_text|default:instance.title }}" src="{{ instance.image.url }}"></figure>
    {% endif %}
    <div class="card-body">
      <h2 class="card-title">{% include "components/_card_title.html" %}</h2>
      {% if instance.job_title %}<div class="person-title">{{ instance.job_title|safe }}</div>{% endif %}
      {% if instance.summary %}<div class="card-summary">{{ instance.summary|safe }}</div>{% endif %}
    </div>
  </div>
</div>
