{% if instance.display_type == "embed" and instance.embed_url %}
<div class="video video--embed{% if instance.alignment %} video--{{ instance.alignment }}{% endif %}">
  <iframe
    width="1280"
    height="720"
    style="aspect-ratio: 1280 / 720;"
    src="{{ instance.embed_url }}"
    title="{{ instance.label|default:'Video player' }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
{% else %}
<a class="{{ instance.placeholder_class }}" href="{{ instance.video_url }}">
  {% if instance.thumbnail_url %}
  <figure><img src="{{ instance.thumbnail_url }}" width="1280" height="720" alt="{{ instance.label|default:'Video' }}"></figure>
  {% endif %}
  {% if instance.label %}<span class="video-label">{{ instance.label }}</span>{% endif %}
  <div class="play">
    {% if instance.label %}<span class="play-label">{{ instance.label }}</span>{% endif %}
  </div>
</a>
{% endif %}
